<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia <ion-icon name="heart"></ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!beginGame" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating" class="ion-text-center">Votre pseudo</ion-label>
      <ion-input type="text" [(ngModel)]="pseudo"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Difficulté</ion-label>
      <ion-select [(ngModel)]="difficulty">
        <ion-select-option value="easy">easy</ion-select-option>
        <ion-select-option value="medium">medium</ion-select-option>
        <ion-select-option value="hard">hard</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
    <ion-toggle [(ngModel)] = "sauvegarder"></ion-toggle>Sauvegarder mes infos
    </ion-item>

  </ion-list>
  <ion-button expand="full" color="light" (click) ="start()">
    <ion-icon name="bug-outline"> </ion-icon> Commencer <ion-icon name="bug-outline"> </ion-icon></ion-button>
  </div>

  
